$(function () {
    {#$("#info").click(function () {#}
        {#$.ajax({#}
            {#url: "/show/one",#}
            {#type: "POST",#}
            {#dataType: "json",#}
            {#success: function (obj) {#}
                {#if (obj.code == 200) {#}
                   {#var catid= parseInt(obj.data);#}
                    {#if(catid == 3){#}
                        {#$('#partnermenu').css("display","block");#}
                        {#$('#partnermenu').html('<a class="i5" href="{{ asset('/upl/index') }}">{{ '合作伙伴' | ctrans }}</a>');#}
                        {#$('#agentmenu').css("display","block");#}
                        {#$('#agentmenu').html('<a class="i6" href="{{ asset('/plad/index') }}">{{ '代理下交易记录' | ctrans }}</a>');#}


                    {#}#}
                    {#$('.left-box .menu li a').each(function(){#}
                        {#if($($(this))[0].href==String(window.location)){#}
                            {#$('.left-box .menu li a').removeClass("on");#}
                            {#$(this).parent().addClass('on');#}
                        {#}#}
                    {#});#}

                {#}else {#}
                    {#layer.alert("{{ '请求错误' | ctrans }}",{title:"{{ '信息' | ctrans }}",btn: ["{{ '确定' | ctrans }}"]});#}
                {#}#}
            {#} ,error:function () {#}
                {#layer.alert("{{ '请求错误' | ctrans }}",{title:"{{ '信息' | ctrans }}",btn: ["{{ '确定' | ctrans }}"]});#}
                {#layer.close(index);#}
            {#}#}
        {#});#}
    {#}).trigger("click");#}

    $('.link a').click(function () {
        if (!$(this).hasClass('on')) {
            var index = $(this).index();
            $(this).addClass('on').siblings().removeClass('on');
            $('.main-cont').eq(index).stop().slideDown().siblings(":not(.link)").stop().slideUp();
        }
    });

    var num;
    $('.tabs li').click(function () {
        if (!$(this).hasClass('on')) {
            var index = $(this).index();
            $('.lay-box .type').html($(this).html());
            $(this).addClass('on').siblings().removeClass('on');
            $('.tab').eq(index).stop().slideDown().siblings().stop().slideUp();
        }
    });
    $(document).click(function (e) {
        if ($(e.target).hasClass('close') || $(e.target).hasClass('cancel') || $(e.target).hasClass('sure')) {
            layer.close(num);
        }
    });

    $(".cancel").click(function () {
        parent.layer.closeAll();
    });
});

function logout() {
    layer.confirm('{{ '确定退出登录吗？' | ctrans }}', {
        title:"{{ '信息' | ctrans }}",
        btn: ['{{ '确定' | ctrans }}','{{ '取消' | ctrans }}'] //按钮
    }, function(){
        window.location.href="/member/out/login";
        var index = layer.load(0, {shade: [0.3,'#000']}); //0代表加载的风格，支持0-2
    }, function(){
        layer.msg("{{ '已取消退出登录' | ctrans }}");
    });
}

$(document).ready(function(){
    $('.left-box .menu li a').each(function(){
        if($($(this))[0].href==String(window.location)){
            $('.left-box .menu li a').removeClass("on");
            $(this).parent().addClass('on');
        }
    });
});
var userAccountData={
    LoadBalanceByUklogin:{//加载交易账号余额
        onLoad:function(){
            obj_this=this;
            $('.uklogins').each(function(){
                v_data=$(this).attr('data');
                if(v_data == undefined || v_data == ''){return;}
                $.ajax({
                    url:'/user/balance/now',
                    data:{uklogin:v_data},
                    dataType:'json',
                    cache:false,
                    timeout:120000,
                    success:function(data){
                        obj_this.onStore(data);
                    }
                });
            });
        },
        onStore:function(data){
            if(data.code){
                $(".uklogins[data='+data.data.uklogin+']").text('$'+data.data.balance);
            }
        }
    }
};
$(function(){
    userAccountData.LoadBalanceByUklogin.onLoad();
})