$(function () {
    $('.zm,.fm,.dz').click(function () {
        if ($(this).hasClass('zm')) {
            document.getElementById('certifylj').name="credentials1";
            $('.lay-title').html('{{ '上传身份证正面' | ctrans }}');
        }else {
            document.getElementById('certifylj').name="credentials2";
            $('.lay-title').html('{{ '上传身份证反面' | ctrans }}');
        }if ($(this).hasClass('dz')) {
            document.getElementById('certifylj').name="credentials5";
            $('.lay-title').html('{{ '上传地址证明' | ctrans }}');
        }
    });
});
var certify={
    upload:function(m){
        var formdata = new FormData();var v_this=$(m);//将获取值存入FormData()中
        formdata.append("file", v_this.get(0).files[0]);//获取第一个获取的值
        jQuery.ajax({
            url : '/upload/image',//上传路径
            type : "post",//上传方式
            data : formdata,//data接收方式
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            dataType:'json',//数据类型
            success:function(data){
                if(data.code==200){
                    v_this.prev().val(data.response.img_url);//路径返回上一个input value
                    $("#certifylj").val(data.response.img_url);
                }else{
                    alert(data.msg,{title:"{{ '信息' | ctrans }}",btn: ["{{ '确定' | ctrans }}"]});
                }
            }
        });
    }
};

//修改密码
$(function () {
    $("#changepad").click(function () {
        //增加遮罩
        var index = layer.load(0,{shade: [0.3,'#000']});
        $.ajax({
            type: "POST",
            url: "/user/password/update",
            dataType:"json",
            data: {
                oldpassword:$('#prepad').val(),
                password: $('#resetpad').val(),
                repassword: $('#verifypad').val()
            },
            success: function(obj){
                layer.close(index);
                if(obj.code==false){
                    layer.alert(obj.msg,{
                        icon:5,
                        closeBtn: 0, //关闭按钮
                        resize:false,
                        btn: ["{{ '确定' | ctrans }}"],
                        title:'{{ '信息提示' | ctrans }}'
                    });
                }else {
                    layer.alert(obj.data, {
                        icon:6,
                        resize:false,
                        btn: ["{{ '确定' | ctrans }}"],
                        title:'{{ '信息提示' | ctrans }}',
                        closeBtn: 0,//关闭按钮
                        yes: function () {
                            parent.layer.closeAll();
                            window.location.href="/member/out/login";
                        }
                    });
                }
            }
        });
    });
});
//修改资料
$(function () {
    $("#datum").click(function () {
        //增加遮罩
        var index = layer.load(0,{shade: [0.3,'#000']});
        $.ajax({
            type: "POST",
            url: "/update/info/account",
            dataType:"json",
            data: {
                mobilecode:$('#mobilecode').val(),
                mobile: $('#mobile').val(),
                email: $('#email').val(),
                address: $('#address').val()
            },
            success: function(obj){
                layer.close(index);
                if(obj.code==false){
                    layer.alert(obj.msg,{
                        icon:5,
                        closeBtn: 0, //关闭按钮
                        resize:false,
                        title:'{{ '信息提示' | ctrans }}'
                    });
                }else {
                    layer.alert("{{ '修改成功' | ctrans }}", {
                        icon:6,
                        resize:false,
                        title:'{{ '信息提示' | ctrans }}',
                        btn: ["{{ '确定' | ctrans }}"],
                        closeBtn: 0,//关闭按钮
                        yes: function () {
                            parent.layer.closeAll();
                            window.parent.location.reload()
                        }
                    });

                }
            }
        });
    });
});


var my= {
    onFormSubmit: function (f) {

        var index = layer.load(0, {shade: [0.3, '#000']}); //0代表加载的风格，支持0-2
        var v_data = $(f).serialize();//获取表单值
        var v_action = $(f).attr('action');//提交地址
        $.ajax({
            url: v_action,
            data: v_data,
            cache: false,
            timeout: 120000,
            dataType: 'json',
            success: function (obj) {
                layer.close(index);
                if (obj.code) {
                    layer.alert("{{ '修改成功' | ctrans }}", {
                        icon:6,
                        resize:false,
                        title:'{{ '信息提示' | ctrans }}',
                        closeBtn: 0,//关闭按钮
                        btn: ["{{ '确定' | ctrans }}"],
                        yes:function () {
                            parent.layer.closeAll();
                            document.location.reload();
                        }
                    });

                } else {
                    layer.alert(obj.msg,{title:"{{ '信息' | ctrans }}", btn: ["{{ '确定' | ctrans }}"]});
                }
            }, error: function () {
                layer.close(index);
                layer.alert('SYSTEM ERROR',{title:"{{ '信息' | ctrans }}",btn: ["{{ '确定' | ctrans }}"]});
            }
        });
    },personalData:{
        add: function () {
            var num;
            $(document).click(function (e) {
                if ($(e.target).hasClass('close')){
                    layer.close(num);
                }
            });
            var formID = 'F' + parseInt(Math.random() * 10000000);
            num =layer.confirm(
                '<div class="layur">' +
                '        <form id="' + formID + '" action="/user/voucher/info" onsubmit="my.onFormSubmit(this);return false;">' +
                '            <div class="lay-box">' +
                '                <h2 style="margin-bottom: 15px"><p class="lay-title">{{ '上传身份证正面' | ctrans }}</p><i class="close fr"></i></h2>' +
               '                     <table class="table"   style="width: 350px;margin-left: 15px;border: 0;" cellspacing="0">\n' +
                '                      <tr class="notice ficate" >\n' +
                '                         <td class="input" colspan="3">\n' +
                '                            <input id="certifylj" name="voucher" readonly class="w7 fl empty" style="height: 40px;width: 200px" type="text" placeholder="" />\n' +
                '                            <input type="file" style="position: relative ;width: 100px;height: 40px;" onchange="certify.upload(this)" class="uploadCert fl" accept="image/gif, image/jpg,image/jpeg, image/bmp, image/png" name="file" />\n' +
                '                         </td>\n' +
                '                       </tr>\n' +
                '                    </table>' +
                '            </div>' +
                '        </form>' +
                '   </div>',
                {
                    type: 1,
                    title: '',
                    skin: 'layui-layer-demo', //样式类名
                    closeBtn: 0, //不显示关闭按钮
                    anim: 2,
                    maxWidth: 480,
                    shadeClose: false,
                    btn: ['{{ '确认' | ctrans }}','{{ '取消' | ctrans }}'],
                    area: ['370px','210px'],
                    resize: false
                },function () {
                    $('#' + formID).submit();
                }

            )
        }
    }
}
$(function () {
    var prepad=$('#prepad');
    var resetpad=$('#resetpad');
    var verifypad=$('#verifypad');
    $('#prepad,#resetpad,#verifypad').on('input', function () {
        if ($(this).val().length > 0) {
            $(this).siblings('i').show();
            $(this).siblings('b').show();
        } else {
            $(this).siblings('i').hide();
            $(this).siblings('b').hide();
        }
    });

    $('.prepad i').on('click', function () {
        $(this).hide();
        $(this).siblings('b').hide();
        prepad.val('');
    });
    $('.resetpad i').on('click', function () {
        $(this).hide();
        $(this).siblings('b').hide();
        resetpad.val('');
    });
    $('.verifypad i').on('click', function () {
        $(this).hide();
        $(this).siblings('b').hide();
        verifypad.val('');
    });

    $('.prepad b').on('click', function () {
        if ($(this).hasClass('pw')) {
            $(this).removeClass('pw');
            prepad.prop('type', 'password');
        } else {
            prepad.prop('type', 'text');
            $(this).addClass('pw');
        }
    });
    $('.resetpad b').on('click', function () {
        if ($(this).hasClass('pw')) {
            $(this).removeClass('pw');
            resetpad.prop('type', 'password');
        } else {
            resetpad.prop('type', 'text');
            $(this).addClass('pw');
        }
    });
    $('.verifypad b').on('click', function () {
        if ($(this).hasClass('pw')) {
            $(this).removeClass('pw');
            verifypad.prop('type', 'password');
        } else {
            verifypad.prop('type', 'text');
            $(this).addClass('pw');
        }
    });
});