{% extends 'user/userconsole.html.twig' %}
{% block content %}
<script type="text/javascript" src="{{ asset('/js/user/enter.js') }}"></script>
    {#办理入金#}
<div class="right-box">
    <div class="link">
        <div class="fl">
            {% for item in payment_list %}
                <a href="javascript:void(0);">{{ item.name }}</a>
            {% endfor %}
            <a href="javascript:void(0);" class="on">{{ '电汇' | ctrans }}</a>
            <a href="javascript:void(0);">{{ '电汇审核提交' | ctrans }}</a>
            <a href="javascript:void(0);">{{ '入金记录' | ctrans }}</a>
            {#<a href="javascript:void(0);">paypal</a>#}
            {#<a href="javascript:void(0);">{{ '银联' | ctrans }}</a>#}
        </div>
        <div class="fr">
            {% autoescape false %}
                {% if balanceOrComlist.Comlist !=""  %}
                    <p>{{ '佣金账户：' | ctrans }}<span>{{ balanceOrComlist.Comlist }}</span></p>
                {% endif %}

                <p>{{ '交易余额：' | ctrans }}<span>{{ balanceOrComlist.balance }}</span></p>
            {% endautoescape %}
            {#{% if data.WEB.cash_wallet_enable=='1' %}#}
            {#<p>{{ '账户余额：' | ctrans }}<span>{{ balance.AccountBalance }}</span></p>#}
            {#<p>{{ '资金总量：' | ctrans }}<span>{{ balance.sumBalance }}</span></p>#}
            {#{% endif %}#}
        </div>
    </div>

    {% for item in payment_list %}
        <div class="main-cont" style="display: none;">
            <div class="mian-title">{{ item.name }}</div>
            <form action="/payment/{{ item.id }}" method="POST" target="_blank" onsubmit="return onlinePaySubmit.onInitFormValue(this);">
                <table class="table paypal" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="text-align: left" class="name">{{ '入款到' | ctrans }}</td>
                        <td>
                            <select class="w1 fl" name="intomt4" onchange="onlinePaySubmit.onIntoMethod(this);">
                                <option value="1">{{ '交易账号' | ctrans }}</option>
                                {#<option value="4">{{ '佣金账户' | ctrans }}</option>#}
                                {#{% if data.WEB.cash_wallet_enable=='1' %}#}
                                {#<option value="0">{{ '储蓄账号' | ctrans }}</option>#}
                                {#{% endif %}#}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="name tal">{{ '收款账户：' | ctrans }}</td>
                        <td>
                            <span ></span>
                            <select name="mt4no" id="" class="w3 fl tradlist"  >
                                {% if listAccount.tradlist==[] %}
                                    <option value="">{{ '没有可选账号' | ctrans }}</option>
                                {% endif %}
                                {% for item in listAccount.tradlist%}
                                    <option  value="{{ item.uklogin }}">{{ item.login }}{{ '-交易账户' | ctrans }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    {% if item.inbankname==1 %}
                        {% if item.id==1 %}
                            <tr>
                                <td style="text-align: left" class="name tal">{{ '付款银行：' | ctrans }}</td>
                                <td>
                                    <span></span>
                                    <select name="bankname" class="w3 fl tradlist"  >
                                        <option value="000" selected="selected">{{ '中国农业银行' | ctrans }}</option>
                                        {#<option value="001">{{ '银联通道' | ctrans}}</option>#}
                                        <option value="002">{{ '建设银行'| ctrans }}</option>
                                        <option value="003">{{ '北京银行'| ctrans }}</option>
                                        <option value="004">{{ '交通银行'| ctrans }}</option>
                                        <option value="005">{{ '兴业银行'| ctrans }}</option>
                                        <option value="006">{{ '中国民生银行'| ctrans }}</option>
                                        <option value="007">{{ '光大银行'| ctrans }}</option>
                                        {#<option value="008">{{ '中国银行'| ctrans }}</option>#}
                                        {#<option value="009">{{ '平安银行'| ctrans }}</option>#}
                                        <option value="010">{{ '中信银行'| ctrans }}</option>
                                        {#<option value="011">{{ '深圳发展银行'| ctrans }}</option>#}
                                        <option value="012">{{ '广发银行'| ctrans }}</option>
                                        <option value="013">{{ '上海银行'| ctrans }}</option>
                                        <option value="014">{{ '上海浦东发展银行'| ctrans }}</option>
                                        <option value="015">{{ '中国邮政'| ctrans }}</option>
                                        {#<option value="016">{{ '北京农村商业银行'| ctrans }}</option>#}
                                        <option value="017">{{ '华夏银行'| ctrans }}</option>
                                        <option value="018">{{ '招商银行'| ctrans }}</option>
                                        <option value="019">{{ '工商银行'| ctrans }}</option>
                                        {#<option value="020">{{ '支付宝'| ctrans }}</option>#}
                                        {#<option value="021">{{ '微信'| ctrans }}</option>#}
                                    </select>
                                </td>
                            </tr>
                        {% else %}
                        <tr>
                            <td style="text-align: left" class="name tal">{{ '付款银行：' | ctrans }}</td>
                            <td>
                                <span></span>
                                <select name="bankname" class="w3 fl tradlist"  >
                                    <option value="000" selected="selected">{{ '中国农业银行' | ctrans }}</option>
                                    <option value="001">{{ '银联通道' | ctrans}}</option>
                                    <option value="002">{{ '建设银行'| ctrans }}</option>
                                    <option value="003">{{ '北京银行'| ctrans }}</option>
                                    <option value="004">{{ '交通银行'| ctrans }}</option>
                                    <option value="005">{{ '兴业银行'| ctrans }}</option>
                                    <option value="006">{{ '中国民生银行'| ctrans }}</option>
                                    <option value="007">{{ '光大银行'| ctrans }}</option>
                                    <option value="008">{{ '中国银行'| ctrans }}</option>
                                    <option value="009">{{ '平安银行'| ctrans }}</option>
                                    <option value="010">{{ '中信银行'| ctrans }}</option>
                                    <option value="011">{{ '深圳发展银行'| ctrans }}</option>
                                    <option value="012">{{ '广发银行'| ctrans }}</option>
                                    <option value="013">{{ '上海银行'| ctrans }}</option>
                                    <option value="014">{{ '上海浦东发展银行'| ctrans }}</option>
                                    <option value="015">{{ '中国邮政'| ctrans }}</option>
                                    <option value="016">{{ '北京农村商业银行'| ctrans }}</option>
                                    <option value="017">{{ '华夏银行'| ctrans }}</option>
                                    <option value="018">{{ '招商银行'| ctrans }}</option>
                                    <option value="019">{{ '工商银行'| ctrans }}</option>
                                    {#<option value="020">{{ '支付宝'| ctrans }}</option>#}
                                    {#<option value="021">{{ '微信'| ctrans }}</option>#}
                                </select>
                            </td>
                        </tr>
                        {% endif %}
                    {% endif %}
                    {% if item.inbankcarb==1 %}
                        <tr>
                            <td style="text-align: left" class="name tal">{{ '付款卡号：' | ctrans }}</td>
                            <td>
                                <span ></span>
                                <input name="bankcard" type="text" placeholder="请输入付款卡号" />
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td style="text-align: left" class="name">{{ '金额' | ctrans }}(USD)</td>
                        <td>

                            <input type="text" name="amount" class="w1 amount01" onkeyup="onlinePaySubmit.amountConvert(this,'{{ item.currency }}','{{ item.mindep }}','{{ item.maxdep }}',{{ item.exchange }})">
                            <i class="ed"></i>
                            <span class="scope ">
                                {% if item.mindep>0 and item.maxdep>0 %}
                                {{ '金额范围'|ctrans }}(USD):{{ item.mindep }}~{{ item.maxdep }}
                                {% else %}
                                    {% if item.mindep>0 %}{{ '金额范围'|ctrans }}(USD):>{{ item.mindep }}{% endif %}
                                    {% if item.maxdep>0 %}{{ '金额范围'|ctrans }}(USD):<{{ item.maxdep }}{% endif %}
                                {% endif %}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit" class="btn submit st-btn">{{ '提交' | ctrans }}</button></td>
                    </tr>
                </table>
            </form>
        </div>
    {% endfor %}

    <div class="main-cont">
        <div class="mian-title ti">{{ '电汇' | ctrans }}<span>{{ '请将美金汇至以下的公司户口' | ctrans }}</span></div>

        <div class="dh">
            <p><b>{{ '公司名称' | ctrans }}</b> {{ attribute(data.WEB,"business_capital_companyname") is defined ? data.WEB.business_capital_companyname:"" }}</p>
            <p><b>{{ '银行账号' | ctrans }}</b> {{ attribute(data.WEB,"business_capital_bankcard") is defined ? data.WEB.business_capital_bankcard:"" }}</p>
            <p><b>{{ '银行名称' | ctrans }}</b> {{ attribute(data.WEB,"business_capital_bankname") is defined ? data.WEB.business_capital_bankname:"" }}</p>
            <p><b>{{ '银行地址' | ctrans }}</b> {{ attribute(data.WEB,"business_capital_bankaddress") is defined ? data.WEB.business_capital_bankaddress:"" }}</p>
            <p><b>{{ 'SWIFT代码' | ctrans }}</b> {{ attribute(data.WEB,"business_capital_swiftcode") is defined ? data.WEB.business_capital_swiftcode:"" }}</p>
        </div>
        <div class="dh2">
            {%   if  attribute(data.WEB,"business_capital_statement") is defined %}
                {{ data.WEB.business_capital_statement | ctrans }}
            {% else %}
            {% endif %}
        </div>
        <div style="color: #b1b0b0;"><span>如果出现异常,建议使用推荐浏览器Chrome浏览本站</span></div>
    </div>

    {#电汇审核提交#}
    <div class="main-cont" style="display: none;">
        <div class="mian-title">{{ '电汇审核提交' | ctrans }}</div>
        <iframe src="{{asset('/form/capital_dep')}}" width="100%" style="height: 1150px;" frameborder="0"></iframe>
    </div>
    {#入金记录#}
    <div class="main-cont" style="display: none;">
        <div class="mian-title">{{ '入金记录' | ctrans }}</div>

        {% if  rows==[] %}
            <div style="width: 1300px;height: 45px ;border: 1px solid silver;margin: 0 auto">
                <h2 class="sure" style="text-align: center;font-size:32px;color: #f1a46c ;margin: 10px auto">{{ '暂无记录' | ctrans }}</h2>
            </div>
        {% endif %}

        <div class="recond">
            <ul>
                {% for row in rows %}
                    <li>
                        <i>{{ row.difftimestr }}</i>
                        <div class="time">{{ row.addtime }}</div>
                        <div class="info">
                            <div class="type t2">{{ row.uklogin }}</div>
                            <div class="text enter">
                                <h2>{{ row.status }}&nbsp;&nbsp;&nbsp;&nbsp;<span class="sure">{{ row.payment }}</span></h2>
                                <p>{{ '金额(USD)：' | ctrans }}${{ row.amountUsd }}</p>
                                <p>{{ '转账凭证号：' | ctrans }}{{ row.orderno }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
    {#paypal#}
    {#<div class="main-cont" style="display:block;">#}
        {#<div class="mian-title">paypal</div>#}
        {#<form action="{{ asset('/user/pay/pal') }}" method="post" name="paypal" onsubmit="onlinePaySubmit.onSubmit(this);return false;">#}
        {#<table class="table paypal" cellpadding="0" cellspacing="0">#}
            {#<tr>#}
                {#<td style="text-align: left" class="name">{{ '入款到' | ctrans }}</td>#}
                {#<td>#}
                    {#<select class="w1 fl" name="intoMethod" onchange="onlinePaySubmit.onIntoMethod(this);">#}
                        {#<option value="1">{{ '交易账号' | ctrans }}</option>#}
                        {#<option value="4">{{ '佣金账户' | ctrans }}</option>#}
                        {#{% if data.WEB.cash_wallet_enable=='1' %}#}
                            {#<option value="0">{{ '储蓄账号' | ctrans }}</option>#}
                        {#{% endif %}#}
                    {#</select>#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td style="text-align: left" class="name tal">{{ '收款账户：' | ctrans }}</td>#}
                {#<td>#}
                    {#<span ></span>#}
                    {#<select class="w1 fl" name="mt4no">#}
                        {#{% for account in listAccount%}#}
                            {#<option value="{{ account.uklogin }}">{{ account.login }}</option>#}
                        {#{% endfor %}#}
                    {#</select>#}
                        {#<select name="mt4no" id="" class="w3 fl tradlist"  >#}
                            {#{% if listAccount.tradlist==[] %}#}
                                {#<option value="">{{ '没有可选账号' | ctrans }}</option>#}
                            {#{% endif %}#}
                            {#{% for item in listAccount.tradlist%}#}
                                {#<option  value="{{ item.uklogin }}">{{ item.login }}{{ '-交易账户' | ctrans }}</option>#}
                            {#{% endfor %}#}
                        {#</select>#}
                        {#<select name=""  class="w3 fl commission" style="display: none">#}
                            {#{% for item in listAccount.commission%}#}
                                {#<option  value="{{ item.uklogin }}">{{ item.login }}{{ '-佣金账户' | ctrans }}</option>#}
                            {#{% endfor %}#}
                        {#</select>#}

                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td style="text-align: left" class="name">{{ '金额' | ctrans }}(USD)</td>#}
                {#<td>#}
                    {#<input type="text" name="amount" class="w1 amount01" onkeyup="this.value=this.value.replace(/[^0-9\.]/g,'');"> <i class="ed">{{ '今日额度' | ctrans }}USD:50000</i>#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td colspan="2"><button type="submit" class="btn submit st-btn">{{ '提交' | ctrans }}</button></td>#}
            {#</tr>#}
        {#</table>#}

        {#</form>#}
    {#</div>#}
    {#银联#}
    {#<div class="main-cont" style="display: none;">#}
        {#<div class="mian-title">{{ '银联' | ctrans }}</div>#}
         {#<form action="{{ asset('/user/union/pay') }}" method="post" name="paypal" onsubmit="onlinePaySubmit.onSubmit(this);return false;">#}
        {#<table class="table paypal" cellpadding="0" cellspacing="0">#}
            {#<tr>#}
                {#<td style="text-align: left" class="name">{{ '入款到' | ctrans }}</td>#}
                {#<td>#}
                    {#<select class="w1 fl" name="intoMethod" onchange="onlinePaySubmit.onIntoMethod(this);">#}
                        {#<option value="1">{{ '交易账号' | ctrans }}</option>#}
                        {#<option value="4">{{ '佣金账户' | ctrans }}</option>#}
                        {#{% if data.WEB.cash_wallet_enable=='1' %}#}
                            {#<option value="0">{{ '储蓄账号' | ctrans }}</option>#}
                        {#{% endif %}#}
                    {#</select>#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td style="text-align: left" class="name tal">{{ '收款账户：' | ctrans }}</td>#}
                {#<td>#}
                    {#<span ></span>#}
                    {#<select class="w1 fl" name="mt4no">#}
                        {#{% for account in listAccount %}#}
                            {#<option value="{{ account.uklogin }}">{{ account.login }}</option>#}
                        {#{% endfor %}#}
                    {#</select>#}
                    {#<select name="mt4no"  class="w3 fl tradlist"  >#}
                        {#{% if listAccount.tradlist==[] %}#}
                            {#<option value="">{{ '没有可选账号' | ctrans }}</option>#}
                        {#{% endif %}#}
                        {#{% for item in listAccount.tradlist%}#}
                            {#<option id="tradlist" value="{{ item.uklogin }}">{{ item.login }}{{ '-交易账户' | ctrans }}</option>#}
                        {#{% endfor %}#}

                    {#</select>#}
                    {#<select name=""  class="w3 fl commission" style="display: none" >#}
                        {#{% for item in listAccount.commission%}#}
                            {#<option  value="{{ item.uklogin }}">{{ item.login }}{{ '-佣金账户' | ctrans }}</option>#}
                        {#{% endfor %}#}
                    {#</select>#}

                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td style="text-align: left" class="name">{{ '金额' | ctrans }}(USD)</td>#}
                {#<td>#}
                    {#<input type="text" class="w1" name="amount" onkeyup="this.value=this.value.replace(/[^0-9\.]/g,'');"> <i class="ed">{{ '今日额度' | ctrans }}USD:50000</i>#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td colspan="2"><button type="submit" class="btn submit st-btn">{{ '提交' | ctrans }}</button></td>#}
            {#</tr>#}
        {#</table>#}
         {#</form>#}
    {#</div>#}

</div>
{% endblock %}