{% extends 'user/userconsole.html.twig' %}
{% block content %}
    <script src="{{ asset('/js/user/my.js')}}"></script>
    <div class="right-box">
        <div class="link">
            <div class="fl">
                <a href="javascript:void(0);" class="on">{{ '个人资料' | ctrans }}</a>
                <a href="javascript:void(0);">{{ '资料修改' | ctrans }}</a>
                <a href="javascript:void(0);">{{ '密码修改' | ctrans }}</a>
            </div>
            <div class="fr">
                {% autoescape false %}
                {% if balanceOrComlist.Comlist !=""  %}
                    <p>{{ '佣金账户：' | ctrans }}<span>{{ balanceOrComlist.Comlist }}</span></p>
                {% endif %}
                    <p>{{ '交易余额：' | ctrans }}<span>{{ balanceOrComlist.balance }}</span></p>
                {% endautoescape %}
                {#{% if data.WEB.cash_wallet_enable=='1' %}#}
                {#<p>{{ '账户余额：' | ctrans }}<span>{{ balance.AccountBalance }}</span></p>#}
                {#<p>{{ '资金总量：' | ctrans }}<span>{{ balance.sumBalance }}</span></p>#}
                {#{% endif %}#}
            </div>
        </div>
        <div class="main-cont">
            <div class="my">
                <div class="my-info">
                    <div class="fl photo"><img style='background-image: url("{{ asset('/images/photo.gif') }}")'/></div>
                    <div class="fl text">
                        <h2>{{ '昵称：' | ctrans }}{{ username }}</h2>
                        <h3>{{ info.contact }}
                            <p class="sex"> {% if info.sex==0 %}{{ '女' | ctrans }}{% else %}{{ '男' | ctrans }}{% endif %}</p>
                            <p>{{ '注册时间：' | ctrans }}{{ info.gmtCreate }}</p>
                        </h3>
                    </div>
                </div>
                <div class="my-cart">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="name">{{ '身份证号码' | ctrans }}</td>
                            <td>{% if info.card is defined   %} {{ info.card }}{% endif %}</td>
                            <td>
                                <button type="button" class="fl zm" onclick="my.personalData.add()">{{ '上传正面' | ctrans }}</button>
                                <button type="button" class="fl fm" onclick="my.personalData.add()">{{ '上传反面' | ctrans }}</button>
                            </td>
                        </tr>
                        <tr>
                            <td  class="name">{{ '手机号码' | ctrans }}</td>
                            <td colspan="2">{{ info.mobileCode }} {{  info.mobile }}</td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td colspan="2">{{ info.email }}</td>
                        </tr>
                        <tr>
                            <td  class="name">{{ '地址' | ctrans }}</td>
                            <td class="address">
                                {% if info.country is defined   %} {{ info.country }}{% endif %} {% if info.province  is defined   %} {{ info.province }}{% endif %}{% if info.city  is defined   %} {{ info.city }}{% endif %} {% if info.address  is defined   %} {{ info.address }}{% endif %}
                            </td>
                            <td><button type="button" class="fl dz" onclick="my.personalData.add()">{{ '地址验证' | ctrans }}</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {#资料修改#}
        <div class="main-cont" style="display: none;">
            <div class="mian-title">{{ '资料修改' | ctrans }}</div>
            <div class="change">
                <table  cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="name">{{ '用户名：' | ctrans }}</td>
                        <td><span>{{ username }}</span></td>
                    </tr>
                    <tr>
                        <td class="name">{{ '姓名：' | ctrans }}</td>
                        <td><span>{{ info.contact }}</span></td>
                    </tr>
                    <tr>
                        <td class="name">{{ '性别：' | ctrans }}</td>
                        <td><span>

                                {% if info.sex ==0 %}
                                    {{ '女' | ctrans }}
                                {% else %}
                                    {{ '男' | ctrans }}
                                {% endif %}
                                   </span></td>
                    </tr>
                    <tr>
                        <td class="name">{{ '身份证号码：' | ctrans }}</td>
                        <td><span> {% if info.card is defined   %} {{ info.card }}{% endif %} </span></td>
                    </tr>
                    <from action="/update/info/account"  >
                        <tr>
                            <td class="name">{{ '手机号码：' | ctrans }}</td>
                            <td><input type="text" id="mobilecode" value="{{info.mobileCode }}"><input type="text" id="mobile" onkeyup="value=value.replace(/[^\d]/g,'')"  value="{{ info.mobile }}"></td>
                        </tr>
                        <tr>
                            <td class="name">E-mail：</td>
                            <td><input type="text"  id="email" value="{{ info.email }}"></td>
                        </tr>
                        <tr>
                            <td class="name">{{ '地址：' | ctrans }}</td>
                            <td><input type="text" id="address" value=" {% if info.address is defined   %} {{ info.address }}{% endif %}"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><button type="button" id="datum">{{ '保存' | ctrans }}</button></td>
                        </tr>
                    </from>
                </table>
            </div>
        </div>
        {#密码修改 tac#}
        <div class="main-cont" style="display: none;">
            <div class="mian-title ">{{ '密码修改' | ctrans }}</div>
            <div class="change-pw change">
                <table cellpadding="0" cellspacing="0">
                    <tr class="prepad">
                        <td class="name">{{ '当前密码：' | ctrans }}</td>
                        <td class="pass">
                            <input class="w1" type="password" id="prepad" />
                            <i></i>
                            <b></b>
                        </td>
                    </tr>
                    <tr class="resetpad">
                        <td class="name">{{ '重置密码：' | ctrans }}</td>
                        <td class="pass">
                            <input class="w1" type="password" id="resetpad"/>
                            <i></i>
                            <b></b>
                        </td>
                    </tr>
                    <tr class="verifypad">
                        <td class="name">{{ '确认密码：' | ctrans }}</td>
                        <td class="pass">
                            <input class="w1" type="password" id="verifypad" />
                            <i></i>
                            <b></b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><button id="changepad" type="button">{{ '保存' | ctrans }}</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
