{% extends 'user/userconsole.html.twig' %}
{% block content %}
<div class="right-box">
    <div class="link">
        <div class="fl">
            <a href="javascript:void(0);" class="on">{{ '办理出金' | ctrans }}</a>
            <a href="javascript:void(0);">{{ '出金审核进度' | ctrans }}</a>
        </div>
        <div class="fr">
    {% autoescape false %}
            {% if balanceOrComlist.Comlist !=""  %}
            <p>{{ '佣金账户：' | ctrans }}<span>{{ balanceOrComlist.Comlist }}</span></p>
            {% endif %}
            <p>{{ '交易余额：' | ctrans }}<span>{{ balanceOrComlist.balance }}</span></p>
    {% endautoescape %}
            {#{% if data.WEB.cash_wallet_enable=='1' %}#}
                {#<p>{{ '账户余额：' | ctrans }}<span>{{ balance.AccountBalance }}</span></p>#}
                {#<p>{{ '资金总量：' | ctrans }}<span>{{ balance.sumBalance }}</span></p>#}
            {#{% endif %}#}
        </div>
    </div>
    <div class="main-cont">
        <div class="mian-title">{{ '办理出金' | ctrans }}</div>
        {% if outGold==1 %}
            <div  style="width: 1000px;height: 100px;text-align: center;color:rosybrown;font-size: 36px"  >{{ '操作受限，请联系账户经理' | ctrans }}</div>
       {% else %}
             <iframe src="{{asset('/form/capital_wdr')}}" width="100%" style="height: 1150px;" frameborder="0"></iframe>
       {% endif %}
    </div>
{#出金审核进度#}
    <div class="main-cont" style="display: none;">
        <div class="mian-title">{{ '出金审核进度' | ctrans }}</div>
        {% if  rows==[] %}
            <div style="width: 1300px;height: 45px ;border: 1px solid silver;margin: 0 auto">
                <h2 class="sure" style="text-align: center;font-size:32px;color: #f1a46c ;margin: 10px auto">{{ '暂无记录' | ctrans }}</h2>
            </div>
        {% endif %}


        <div class="recond">
            <ul>
                {% for row in rows %}
                <li>
                    <i class="on">{{ row.difftimestr }}</i>
                    <div class="time">{{ row.addtime }}</div>
                    <div class="info">
                        <div class="type t1">{{ row.login }}</div>
                        <div class="text">
                            <h2>{{ row.status }}</h2>
                            <p>{{ '原因：' | ctrans }}{{ row.auditExplain }}</p>
                            <p>{{ '卡号：' | ctrans }}{{ row.bankcard }}</p>
                            <p>{{ '开户行：' | ctrans }}{{ row.bank }}</p>
                            <p class="usd">{{ '金额(USD)：' | ctrans }}{{ row.amountUsd }}</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endblock %}