{% extends 'user/userconsole.html.twig' %}
{% block content %}
    <script type="text/javascript" src="{{ asset('public/ccount/js/jquery.qrcode.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/user/partner.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/plugins/agentTree.js') }}"></script>
    <div class="right-box">
        <div class="link">
            <div class="fl">
                <a href="javascript:void(0);" class="on">{{ '代理链接' | ctrans }}</a>
                <a href="javascript:void(0);" >{{ '合作伙伴信息' | ctrans }}</a>
                <a href="javascript:void(0);" >{{ '代理下总览' | ctrans }}</a>
                <a href="javascript:void(0);">{{ '返佣记录' | ctrans }}</a>
            </div>
            <div class="fr">
                {% autoescape false %}
                {% if balanceOrComlist.Comlist !=""  %}
                    <p>{{ '佣金账户：' | ctrans }}<span>
                            {{ balanceOrComlist.Comlist }}
                        </span></p>
                {% endif %}
                <p>{{ '交易余额：' | ctrans }}<span>{{ balanceOrComlist.balance }}</span></p>
                {% endautoescape %}

                {#<p>{{ '账户余额：' | ctrans }}<span>{{ balance.AccountBalance }}</span></p>#}
                {#<p>{{ '资金总量：' | ctrans }}<span>{{ balance.sumBalance }}</span></p>#}
            </div>
        </div>
        {#代理链接#}
        <div class="main-cont" >
            <div class="mian-title">{{ '推广链接生成器' | ctrans }}</div>
            <div class="link2">

                <table class="table" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="ti" colspan="2">{{ '使用推广链接进入本站的用户注册时将指定您为合作伙伴' | ctrans }}</td>

                    </tr>
                    <tr>
                        <td class="ti">{{ '代 理 I B' | ctrans }}</td>
                        <td><input type="text" class="w1" name="IB" value="{{ data.IB }}" readonly="true"></td>
                        <td>{{ '本站链接' | ctrans }}</td>
                        <td><input type="text" id="buildapath" name="cul" class="w1" value="{{ data.path }}/form/register_real" readonly="true" ></td>
                    </tr>

                    <tr>
                        <td class="ti">{{ '账户类型' | ctrans }}</td>
                        <td>
                            <select name="usertype" id="usertype" class="w1 fl">
                                <option value="" >{{ '选择账户类型' | ctrans }}...</option>
                                {% for item in  data.rebatetotal.usertypes %}
                                    <option value="{{ item.id }}">{{ item.name | ctrans }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4"><button type="submit" id="pbtn" class="sc">{{ '生成' | ctrans }}</button></td>
                    </tr>
                </table>

            </div>
        </div>
        {#合作伙伴信息#}
        <div class="main-cont partner" style="display: none;">
            <div class="mian-title">{{ '合作伙伴信息' | ctrans }}</div>
            <div id="MTVZ"></div>
            <div id="trees" style="width:100px;float:right;text-align:right;margin-top:-20px;">{{ '返回顶部' | ctrans }}↑</div>
				<div class="email theusername" style="display:none;">&nbsp;</div>
                <div class="link3 theuser" style="display:none;">
                    <div class="l1 fl">
						<div class="nickname">&nbsp;</div>
						<div class="balance">&nbsp;</div>
					</div>
                    <table class="fr" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="ti"><p>{{ '入金' | ctrans }}</p><span class="totalDep">&nbsp;</span></td>
                                <td><p>{{ '出金' | ctrans }}</p><span class="totalWdr">&nbsp;</span></td>
                                <td><p>{{ '交易量' | ctrans }}</p><span class="totalVolume">&nbsp;</span></td>
                                <td><p>{{ '佣金' | ctrans }}</p><span class="minus totalCommission">&nbsp;</span></td>
                                <td><p>{{ '获利' | ctrans }}</p><span class="add totalProfit">&nbsp;</span></td>
                                <td><p>{{ '返佣' | ctrans }}</p><span class="totalRebate">&nbsp;</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="search_div">
						<div class="positive">{{ '时间区间' | ctrans }}</div>
						<div class="negative">
                            <input class="" id="startdate"  placeholder="{{ '请输入开始时间' | ctrans }}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text" value="" style="width: 100px;" >-
                            <input class="" id="enddate" placeholder="{{ '请输入结束时间' | ctrans }}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text" value="" style="width: 100px;">
                            <button class="search "  type="button">{{ '搜索' | ctrans }}</button>
						</div>
                    </div>

                </div>

                <div class="link4 pb" style="display:none;">
                    <table class="thead" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="21%"></td>
                            <td width="16%">{{ '交易账户' | ctrans }}</td>
                            <td width="14%">{{ '注册时间' | ctrans }}</td>
                            <td width="15%">{{ '余额' | ctrans }}</td>
                            <td width="10%">{{ '交易手数' | ctrans }}</td>
                            <td width="14%" style="display: none;">{{ '每手返佣' | ctrans }}</td>
                        </tr>
                        <tfoot class="subusers">

                        </tfoot>
                    </table>


                </div>
            </div>
        {#代理下总览#}

        {#代理下总览#}
        <div class="main-cont partner" style="display: none;">
            <div class="mian-title">{{ '代理下总览' | ctrans }}</div>
            <div class="dl-recond">
                <table class="table" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width:150px;">
                            <input class="w3" name="query" type="text" placeholder="{{ 'MT4账号' | ctrans }}/{{ '姓名' | ctrans }}"  ></td>
                        <td style="width: 170px"><button  style="margin-left: 20px;" class="search " onclick="Agent.search(this);" type="button">{{ '搜索' | ctrans }}</button></td>
                        <td >{{ '总入金' | ctrans }}：&nbsp;<span id="totalDeposit">0.00</span> {{ '总出金' | ctrans }}：&nbsp;&nbsp;<span id="totalWithdrawal">0.00</span></td>
                    </tr>
                </table>
                <div class="link4">
                    <table class="thead" cellpadding="0"    cellspacing="0">
                        <tr>

                            <td width="15%" class="tal1" style="font-size: 14px;">{{ 'MT4账号' | ctrans }}</td>
                            <td width="10%" class="tal2"  style="font-size: 14px;">{{ '账户类型' | ctrans }}</td>
                            <td width="15%" class="tal3"  style="font-size: 14px;">{{ '上级代理' | ctrans }}</td>
                            <td width="5%"  class="tal4" style="font-size: 14px;" onclick="Agent.setOrderby(this,'totalCredit')">{{ '信用' | ctrans }}<span></span></td>
                            <td width="7%"  class="tal5" style="font-size: 14px;" onclick="Agent.setOrderby(this,'totalBalance')">{{ '余额' | ctrans }}<span></span></td>
                            <td width="7%"  class="tal6" style="font-size: 14px;" onclick="Agent.setOrderby(this,'totalEquity')">{{ '净值' | ctrans }}<span></span></td>
                            <td width="7%"  class="tal7" style="font-size: 14px;" onclick="Agent.setOrderby(this,'totalMarginFree')">{{ '可用资金' | ctrans }}<span></span></td>
                            <td width="5%"  class="tal8" style="font-size: 14px;" onclick="Agent.setOrderby(this,'totalRebate')">{{ '获得佣金' | ctrans }}<span></span></td>
                            <td width="7%"  class="tal9" style="font-size: 14px;" onclick="Agent.setOrderby(this,'totalDep')">{{ '入金' | ctrans }}<span></span></td>
                            <td width="7%"  class="tal10" style="font-size: 14px;" onclick="Agent.setOrderby(this,'totalWdr')">{{ '出金' | ctrans }}<span></span></td>
                            <td width="15%" class="tal11" style="font-size: 14px;">{{ '操作' | ctrans }}</td>

                        </tr>
                    </table>
                    <div id="">

                        <table class="zd-table  thead02"  id="unders" cellpadding="0" cellspacing="0">
                            <tr class="thead " style="text-align: center">
                                <td width="59" cellspacing="" >{{ '请查询' | ctrans }}...</td>
                            </tr>
                        </table>

                    </div>
                    <table class="zd-table">
                        <tr class="ttop">
                            <td>
                                <div class="page fr" style="padding: 0;">
                                    <div class="fr Previouspage1"> <a href="javascript:void(0);" class="Previouspage " onclick="Agent.page(1);">{{ '上一页' | ctrans }}</a></div>
                                    <div class="fr nextpage2"><a href="javascript:void(0);" class="nextpage " onclick="Agent.page(2)">{{ '下一页' | ctrans }}</a></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        {#返佣记录#}
        <div class="main-cont" style="display: none;">
            <div class="mian-title">{{ '返佣记录' | ctrans }}</div>
            <div class="back">
                <div class="back1">
                    <div class="fl text">
                        {#<p><span>{{ '历史总利润:' | ctrans }}</span>{{ data.rebatetotal.historyProfit }}$</p>#}
                        {#<p><span>{{ '利润池:' | ctrans }}</span>{{ data.rebatetotal.profitPond }}$</p>#}
                        <p><span>{{ '历史总返佣:' | ctrans }}</span>${{ data.rebatetotal.historyBrokerage }}</p>
                    </div>
                    <div class="fr">

                        <table cellpadding="0" cellspacing="0">
                               <tr>
                                <td class="name">{{ '返佣类型' | ctrans }}</td>
                                <td>
                                    <select class="w1" name="" id="remethod">
                                        <option value="4">{{ '代理下客户奖励' | ctrans }}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="name">{{ '订单号 ' | ctrans }}</td>
                                <td><input class="w1" type="text" id="order"></td>
                            </tr>
                            <tr>
                                <td class="name">{{ '交易账户' | ctrans }}</td>
                                <td><input class="w1" type="text" id="deal"></td>
                            </tr>
                            <tr>
                                <td class="name">{{ '时间区间' | ctrans }}</td>
                                <td><input class="w2"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" style="width: 250px;margin-right: 10px;" value="{{ data.difftime.ago }}"   type="text" id="starttime">&nbsp;&nbsp;-&nbsp;&nbsp;
                                    <input class="w2" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" style="width: 250px;margin-right: 10px;" value="{{ data.difftime.Present }}"  id="endtime"></td>
                            </tr>
                            <tr>
                                <td><button class="searchaward"   type="button">{{ '立即搜索' | ctrans }}</button></td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ '合计返佣' | ctrans }}:<span id="totalrebatedata"></span></td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="back2">
                    <table cellpadding="0"  cellspacing="0">
                        <thead>
                        <tr id="tr01">
                            <td>{{ '时间' | ctrans }}</td>
                            <td>{{ '订单号' | ctrans }}</td>
                            <td>{{ '交易账号' | ctrans }}</td>
                            <td>{{ '交易人' | ctrans }}</td>
                            <td>{{ '受益账号' | ctrans }}</td>
                            <td>{{ '受益人' | ctrans }}</td>
                            <td>{{ '返佣金额' | ctrans }}</td>
                            <td>{{ '状态' | ctrans }}</td>
                        </tr>
                        </thead>
                        <tbody id="recordsdata">

                        </tbody>
                    </table>
                    <div class="tar">
                        <div class="page">

                            <div class="fr "> <a href="javascript:void(0);" class="Previouspage searchaward">{{ '上一页' | ctrans }}</a></div>
                            <div class="fr"><a href="javascript:void(0);" class="nextpage searchaward">{{ '下一页' | ctrans }}</a></div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

