<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ '交易记录' | ctrans }}</title>
    <link rel="stylesheet" href="{{ asset('public/ccount/css/enbed.css') }}">
    <link rel="stylesheet" href="{{asset('public/ccount/css/common.css') }}">
    <script src="{{ asset('public/ccount/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('public/ccount/js/layer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/user/partner.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/plugins/WdatePicker/WdatePicker.js') }}"></script>
</head>
<body>
<div class="layy" >
    <div class="lay-box" style="width: 100%;">
        <div class="partner">

                <form id="myfrom">
                    <input type="hidden"  value="1" name="pagenum" />
                    <table class="table" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="name">{{ '开始时间' | ctrans }}</td>
                            <td colspan="2"><input class="w1" name="startClosetime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"  value="{{ date.ago }}"     style="width: 250px;margin-right: 10px;" type="text"></td>
                            <td class="name">{{ '结束时间' | ctrans }}</td>
                            <td colspan="2"><input class="w1" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="{{ date.Present }}" style="width: 250px;margin-right: 10px;" name="endClosetime" type="text"></td>
                            <input type="hidden" id="mt4login" value="{{ row }}" name="username" />


                            <td colspan="1">  <button class="search"  action="/user/lower/records" onclick="showDetails.search(0); showDetails.showDepWdr(this,0)" type="button">{{ '搜索' | ctrans }}</button>   </td>
                        </tr>
                    </table>
                </form>

            <div class="ulli" style="margin-top: 10px">
                <ul>
                    <li onclick="showDetails.showHouse(this,0)" action="/mt4/records/open/trading">{{ '持仓订单' | ctrans }}</li>
                    <li class="on" onclick="showDetails.showDepWdr(this,0)" action="/user/lower/records">{{ '历史订单' | ctrans }}</li>

                </ul>
            </div>
            <div class="link4 pb details" style="display: none;">
                <div class="ents">{{ '持仓订单' | ctrans }}</div>
                <table class="thead" cellpadding="0" cellspacing="0" style="text-align: left;">
                    <tr>
                        <td width="17%">{{ '交易账号' | ctrans }}</td>
                        <td width="10%">{{ '订单号' | ctrans }}</td>
                        <td width="15%">{{ '交易品种' | ctrans }}</td>
                        <td width="12%">{{ '开仓时间' | ctrans }}</td>
                        <td width="14%">{{ '开仓价' | ctrans }}</td>
                        <td width="10%">{{ '持仓时间' | ctrans }}</td>
                        <td width="12%">{{ '交易量(手)' | ctrans }}</td>
                        <td width="10%">{{ '获利' | ctrans }}</td>
                    </tr>
                </table>
                <table class="tbody" cellpadding="0" cellspacing="0" style="text-align: left;"></table>

            </div>

            <div class="link4 pb details" style="display: none;">
                <div class="ents">{{ '历史订单' | ctrans }}</div>
                <table class="thead" cellpadding="0" cellspacing="0" style="text-align: left;">
                    <tr id="bagert">
                        <td width="10%">{{ '订单号' | ctrans }}</td>
                        <td width="10%">{{ '交易品种' | ctrans }}</td>
                        <td width="12%">{{ '交易量(手)' | ctrans }}</td>
                        <td width="10%">{{ '进场时间' | ctrans }}</td>
                        <td width="10%">{{ '进场价格' | ctrans }}</td>
                        <td width="10%">{{ '出场时间' | ctrans }}</td>
                        <td width="10%">{{ '出场价格' | ctrans }}</td>
                        <td width="9%">{{ '佣金' | ctrans }}</td>
                        <td width="10%">{{ '获利' | ctrans }}</td>
                        <td width="9%">{{ '返佣' | ctrans }}</td>
                    </tr>
                </table>
                <table class="tbody" id="bnei" cellpadding="0" cellspacing="0" style="text-align: left;"></table>
                <table  cellpadding="0" cellspacing="0" style="text-align: left;">
                    <tr>
                        <td colspan="11" width="10%" style="text-align: center" id="gen"><a style="cursor:pointer;" action="/user/lower/records" onclick="showDetails.showDepWdr(this,0)" >{{ '显示更多' | ctrans }}...</a></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div id="top">top</div>
</div>
<script type="text/javascript">
    var showDetails={
        search:function (index) {
           $('#bnei').html('')
            $('input[name=pagenum]').val(1)
        },
        onLoad:function(m,eq,cfn){
            var index=layer.load(0,{shade: [0.3,'#000']});
            $('div.details').hide().eq(eq).show();
            $.ajax({
                url:$(m).attr('action'),
                data: $("#myfrom").serialize(),
                cache:false,
                timeout:120000,
                dataType:'json',
                success:function(result){
                    layer.close(index);
                    if(result.code){
                        cfn(m,eq,result.data);
                    }else{
                        layer.alert(result.msg,{title:"信息",btn: ["{{ '确定' | ctrans }}"]});
                    }
                },error:function(){
                    layer.close(index);
                    layer.alert('SYSTEM ERROR',{title:"信息",btn: ["{{ '确定' | ctrans }}"]});
                }
            });
        },showHouse:function(m){
            $('#mt4login').attr('name','username');
            $('#myfrom').find('input[name=starttime]').attr('name','opentimeBegin');
            $('#myfrom').find('input[name=endtime]').attr('name','opentimeEnd');
            try{
                showDetails.onLoad(m,0,function(m,index,data){
                    $('.table').css('display',"none");
                    var v_html='';
                    if(data.plant.length==0){
                        v_html='<tr><td colspan="8" style="text-align: center;">{{ '无数据...' | ctrans }}</td></tr>';

                    }else {

                        for(var item in data.plant){

                            var result=data.plant[item];
                            if(result.opentrading!=null && result.opentrading!=undefined){
                                result.opentrading.forEach(function(v){

                                    v_html+='<tr>' +
                                '<td width="17%">'+v.Login+'</td>' +
                                '<td width="10%">'+v.OrderId+'</td>' +
                                '<td width="15%">'+v.Symbol+'</td>' +
                                '<td width="12%">'+v.OpenTime+'</td>' +
                                '<td width="13%" >'+v.OpenPrice+'</td>' +
                                '<td width="14%">'+v.TotalTime+'</td>' +
                                '<td width="12%">'+v.Volume+'</td>' +
                                '<td width="10%">'+v.Profit+'</td>' +
                                '</tr>';
                                });
                            }
                        }
                    }
                    $('div.details').eq(index).find('table.tbody').html(v_html);
                });}catch (e){}
        },showDepWdr:function(m){
            $('#mt4login').attr('name','username');
            $('#myfrom').find('input[name=starttime]').attr('name','startOpentime');
            $('#myfrom').find('input[name=endtime]').attr('name','endClosetime');
            try{
                showDetails.onLoad(m,1,function(m,index,data){
                    $('.table').css('display',"block");
                    var v_html='';

                    if(data.plant.length==0){
                        $('#gen').html('<a action="/user/lower/records"  >{{ '没有更多' | ctrans }}...</a>')
                         return false;
                       }


                     var totalRebate=0;
                    $(data.plant).each(function(k,v){
                         if(typeof(v.totalRebate)!='undefined'){
                             totalRebate=v.totalRebate;
                         }
                        v_html+='<tr style="border-bottom: 1px solid #E5E5E5;">' +
                            '<td class="tal" style="text-align: center" width="10%">'+v.orderid+'</td>' +
                            '<td width="10%">'+v.symbol+'</td> ' +
                            '<td width="12%" style="color: #0185ff">'+v.volume+'</td>' +
                            '<td width="10%">'+v.openTime+'</td> ' +
                            '<td width="10%">'+v.openPrice+'</td><'+
                            '<td width="10%">'+v.closeTime+'</td><'+
                            '<td width="10%">'+v.closePrice+'</td>'+
                            '<td width="9%">'+v.commission+'</td>'+
                            '<td width="10%" style="color: #009d59">'+v.profit+'</td>'+
                            '<td width="9%">'+totalRebate+'</td>'+
                            '</tr>';
                    })
                    if (data.plant.length == 0 || data.page.nextPage==1) {
                        $('input[name=pagenum]').val(parseInt(data.page.nextPage))
                        $('#gen').html('<a action="/user/lower/records" style="cursor:pointer;" >{{ '没有更多' | ctrans }}...</a>')

                    }else{
                        $('#gen').html('<a style="cursor:pointer;"  action="/user/lower/records" onclick="showDetails.showDepWdr(this,0)" >{{ '显示更多' | ctrans }}...</a>')
                        $('input[name=pagenum]').val(parseInt(data.page.nextPage))
                    }
                    $('div.details').eq(index).find('table.tbody').append(v_html);
                });}catch (e){}
        }
    }
    $(".partner .ulli ul li:eq(1)").click();
</script>
</body>
</html>