{% extends 'user/userconsole.html.twig' %}
{% block content %}
    <script type="text/javascript" src="{{ asset('/js/user/salerecond.js') }}"></script>
    <div class="right-box">
        <div class="link">
            <div class="fl">
                <a href="javascript:void(0);" class="on">{{ '交易记录' | ctrans }}</a>
            </div>
            <div class="fr">
                {% autoescape false %}
                {% if balanceOrComlist.Comlist !=""  %}
                    <p>{{ '佣金账户：' | ctrans }}<span>{{ balanceOrComlist.Comlist }}</span></p>
                {% endif %}
                <p>{{ '交易余额：' | ctrans }}<span>{{ balanceOrComlist.balance }}</span></p>


                {% endautoescape %}

                {#<p>{{ '账户余额：' | ctrans }}<span>{{ balance.AccountBalance }}</span></p>#}
                {#<p>{{ '资金总量：' | ctrans }}<span>{{ balance.sumBalance }}</span></p>#}

            </div>
        </div>
        <div class="main-cont">
            <div class="mian-title">{{ '交易记录' | ctrans }}</div>
            <div class="sale-recond">
                <table class="table" cellpadding="0" cellspacing="0">

                    <tr>
                        <td class="name">{{ '全部分类：' | ctrans }}</td>
                        <td colspan="4">
                            <select class="w2 fl" id="CardList" id="">
                                {% if  rows!=[] %}
                                    <option value="0">{{ '请选择交易账户' | ctrans }}</option>
                                {% endif %}
                                {% for account in rows.tradlist %}
                                    <option value="{{account.uklogin }}">{{account.login }}{{ '-交易账户' | ctrans }}</option>
                                {% endfor %}
                                {% for account in rows.commission %}
                                    <option value="{{account.uklogin }}">{{account.login }}{{ '-佣金账户' | ctrans }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="name">{{ '时间区间：' | ctrans }}</td>
                        <td colspan="3"><input class="w3 Wdate" id="starttime"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                                          value="{{ date.ago }}"     style="width: 250px;margin-right: 10px;" type="text">-
                            <input class="w3" id="endtime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text" value="{{ date.Present }}" style="width: 250px;margin-right: 10px;"></td>
                        <td><button class="search " onclick="seeCardOrdernoRecords(this);" type="button">{{ '搜索' | ctrans }}</button></td>
                    </tr>
                </table>

                <table class="table salew" cellpadding="0" id="record" cellspacing="0">
                    <tr class="sthead">
                        <td>{{ '订单号' | ctrans }}</td>
                        <td>{{ '交易品种' | ctrans }}</td>
                        <td>{{ '交易类型' | ctrans }}</td>
                        <td>{{ '交易手数' | ctrans }}</td>
                        <td>{{ '开仓时间' | ctrans }}</td>
                        <td>{{ '开仓价' | ctrans }}</td>
                        <td>{{ '平仓时间' | ctrans }}</td>
                        <td>{{ '平仓价' | ctrans }}</td>
                        <td>{{ '利润' | ctrans }}</td>
                        <td>{{ '返佣' | ctrans }}</td>
                    </tr>
                </table>
                </table>
                <div class="page fr">
                    <div class="fr "> <a href="javascript:void(0);" class="Previouspage " onclick="seeCardOrdernoRecords(this);">{{ '上一页' | ctrans }}</a></div>
                    <div class="fr"><a href="javascript:void(0);" class="nextpage " onclick="seeCardOrdernoRecords(this);">{{ '下一页' | ctrans }}</a></div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}



