<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ asset('public/ccount/css/enbed.css') }}">
    <link rel="stylesheet" href="{{ asset('public/ccount/css/common.css') }}">
    <link rel="stylesheet" href="{{asset('public/ccount/css/layer.css') }}">
    <script src="{{ asset('public/ccount/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('public/ccount/js/layer.js') }}"></script>
    <script src="{{ asset('/up/index/switch.js') }}"></script>
</head>

<body>
    <div class="st-tabs">
        <ul>
            <li class="on"><i>{{ '填写个人资料与入款信息' | ctrans }}</i></li>
            <li><i>{{ '检阅并递交' | ctrans }}</i></li>
            <li class="last"><i>{{ '完成' | ctrans }}</i></li>
        </ul>
    </div>
    <div class="st-cont">
        <div class="tab" style="display: block;">

            <table class="table" cellpadding="0"  cellspacing="0">
                <tr>
                    <td class="st-title" colspan="4">A. {{ '账户信息&联络资料' | ctrans }}</td>
                </tr>
                <tr>
                    <td class="name">{{ '出金金额' | ctrans }}</td>
                    <td colspan="3"><input  class="w1 amount"  type="text"></td>
                </tr>
                <tr>
                    <td class="name">{{ '出款方式' | ctrans }}</td>
                    <td>

                        <div class="count-type " id="">

                            <select class="w1 fl outway " name="account" id="">
                                <option value="">{{ '请选择交易账户...' | ctrans }}</option>
                                    <option value="1">{{ '交易账号' | ctrans }}</option>
                                <option value="2">{{ '储蓄账号' | ctrans }}</option>
                            </select>
                            <span id="balance" style="display: none">{{ '储备金账户余额 : ' | ctrans }}$ <font color="red"> {{ info.userdata.balance }}</font></span>
                            <select class="w1 fl account" name="account" id="" style="display: none">
                                {% if  rows!=[] %}
                                    <option value="0">{{ '亲选择交易账户' }}</option>
                                {% endif %}
                                {% if  rows==[] %}
                                    <option value="0">{{ '暂无交易账号' }}</option>
                                {% endif %}
                                     {% for row in rows%}
                                <option  data="{{ row.uklogin }}" value="{{ row.login }}">{{ row.login }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="name">{{ '收款方式' | ctrans }}</td>
                    <td colspan="3">
                        <select class="w1 payment" name="" id="">
                            <option selected="selected" value="">{{ '选择收款方式...' | ctrans }}</option>
                            <option value="wire">{{ '国际电汇' | ctrans }}</option>
                            <option value="ambank">{{ '大马银行' | ctrans }}</option>
                            <option value="unionpay">{{ '中国银联' | ctrans }}</option>
                            <option value="skrill">Skrill</option>
                            <option value="paypal">Paypal</option>
                            <option value="neteller">Neteller</option>
                        </select>
                    </td>
                </tr>
            </table>
            <table class="table tables" border="0" cellpadding="0" cellspacing="0"  >

            </table>
               <table  class="table " border="0" cellpadding="0" cellspacing="0" >  <tr><td colspan="4" class="tac" style="text-align: center">
                           <button type="button" id="outbtn" class="btn submit st-btn outbtn01">{{ '提交' | ctrans }}</button></td></tr></table>
        </div>
        <div class="tab" style="display: none;">
            <table class="table" cellpadding="0" cellspacing="0" >
                <tr>
                    <td colspan="4" class="st-title">A. {{ '账户信息&联络资料' | ctrans }}</td>
                </tr>
                <tr>
                    <td class="name">{{ '账户' | ctrans }}</td>
                    <td class="w1"><input class="w1" type="text" value="{{ info.username }}"></td>
                    <td class="name">{{ '客户姓名' | ctrans }}</td>
                    <td><input class="w1" type="text"value="{{ info.nickname }}"></td>
                </tr>
                <tr>
                    <td  class="name">{{ '手机号码' | ctrans }}</td>
                    <td class="w1"><input class="w1" type="text" value="{{ info.mobile }}"></td>
                    <td  class="name">{{ '邮箱地址' | ctrans }}</td>
                    <td><input class="w1" type="text" value="{{ info.email }}"></td>
                </tr>
                <tr>
                    <td  class="name">{{ '从交易账户' | ctrans }}</td>
                    <td class="w1"><input class="w1 account" type="text"></td>
                    <td  class="name">{{ '出款' | ctrans }}</td>
                    <td><input class="w1 amount" type="text"></td>
                </tr>
            </table>
            <table class="table tables" cellpadding="0" cellspacing="0" >
            </table>

            <div style="width: 1500px;height: 50px;margin: 10px auto " >
                <div style="margin: auto;height: 36px;width: 420px">
                    <form class="lay-box">
                        <div class="cont set"style="background: #F7F7F7">
                            <div class="from withedit">
                                <ul>
                                    <li>
                                        <p>{{ '验证码：' | ctrans }}</p><input type="text" placeholder="{{ '请输入验证码' | ctrans }}" class="yzm code">
                                        <img src="{{ asset('/captcha/window') }}"  alt="" onclick="this.src='/captcha/window?a='+Math.random();">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

              <table class="table"> <tr>
                      <td colspan="4" style="text-align: center">
                          <button type="button" class="st-btn btn tar back"  style="text-align: center">{{ '返回上一步' | ctrans }}</button>
                          <button type="button" id="present" class="st-btn tar sure" style="text-align: center">{{ '确认无误并申请' | ctrans }}</button>
                      </td>
                  </tr></table>
        </div>
        <div class="tab" style="display: none;">
            <h2 class="st-title2">{{ '以下是您本次提交的资料：' | ctrans }}</h2>
            <table class="table" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="4" class="st-title">B. {{ '出金金额&收款信息' | ctrans }}</td>
                </tr>
                <tr>
                    <td class="name">{{ '账户' | ctrans }}</td>
                    <td class="w1"><input class="w1" type="text" readonly value="{{ info.username }}"></td>
                    <td class="name">{{ '客户姓名' | ctrans }}</td>
                    <td><input class="w1" readonly type="text"value="{{ info.nickname }}"></td>
                </tr>
                <tr>
                    <td  class="name">{{ '手机号码' | ctrans }}</td>
                    <td class="w1"><input class="w1" type="text" readonly value="{{ info.mobile }}"></td>
                    <td  class="name">{{ '邮箱地址' | ctrans }}</td>
                    <td><input class="w1" type="text" readonly value="{{ info.email }}"></td>
                </tr>
                <tr>
                    <td  class="name">{{ '从交易账户' | ctrans }}</td>
                    <td class="w1"><input class="w1 account" type="text"></td>
                    <td  class="name">{{ '出款' | ctrans }}</td>
                    <td><input class="w1 amount" type="text"></td>
                </tr>
            </table>
            <table class="table tables" cellpadding="0" cellspacing="0">

            </table>
        </div>
    </div>

</body>

</html>
